
<!DOCTYPE html>

<html>
	<head>
		<title>Input</title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>
		<!-- Your layout here -->
 
    
    <div class = "row">
      <div class="col-xs-3">
        
        <span class="align-left"> <a href="index"> Chapter outline </a></span>  
       
        
      </div>
      <div class="col-xs-9">
        <span class="align-middle">Chapter 1 (5 min)</span>
      </div>
    </div>
    
    
    <div class="row">
  <div class="col-xs-6">
      <p>
        This is the left hand side of the page. This has the story and elements, including a picture.
        <div class="col-xs-12"><img width="128" height="128" src="https://vignette.wikia.nocookie.net/the-demonic-paradise/images/6/65/Corson.jpg/revision/latest?cb=20160127223521"></div>
        There's obviously more story after this, including example code. For example,
    <br>
    <code> Bob = []</code>
    <br>
    And much, much more!
      </p>
    
      </div>
  <div class="col-xs-6">
      <p>
        Steve wants to summon a demon named "bob." (Demon names are lowercase). Type out how to summon bob below and press "run" to attempt to summon him.
      </p>
      <textarea rows="20" cols="50">
      Enter text to summon a demon here. 
      </textarea>
      <button type="button" class="btn btn-primary"> Hint</button>
<button type="button" class="btn btn-info"> Previous </button>
<button type="button" class="btn btn-success"> Run</button>
      
      
 </div>
  
    
    
    </div>
    

	</body>
</html>