<!DOCTYPE html>

<html>
	<head>
		<title>PyAccountant</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
	<body>
		<!-- Your layout here -->
 
    <style type="text/css">
.col-xs-6 {
   border-radius:10px;
   padding: 20px;
}
</style>
<div class="container">
 <nav class="navbar navbar-default navbar-expand navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="nav navbar-nav pull-left">
          <li class="nav-item active">
            <a class="nav-link" href="#">Back to Index <span class="sr-only">(current)</span></a>
          </li>
          
        </ul>
      
      
       <a style="margin: 0; float: none; text-align:center; position:absolute; left:50%; margin-left: -50px; display:block;" class="navbar-brand navbar-middle">Navbar 2</a>
          
        </ul>
        
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item active">
            <a class="nav-link" href="#">Next Chapter <span class="sr-only">(current)</span></a>
          </li>
          
        </ul>
       
      </div>
    </nav>


    
    
    <div class="row">
  <div class="col-xs-6" style="padding-right:20px; border-right: 1px solid #ccc; border-left: 1px solid #ccc;">
      <p>
        This is the left hand side of the page. This has the story and elements, including a picture.
        <div class="col-xs-12"><img width="128" height="128" src="https://vignette.wikia.nocookie.net/the-demonic-paradise/images/6/65/Corson.jpg/revision/latest?cb=20160127223521"></div>
        There's obviously more story after this, including example code. For example,
    <br>
    <code> Bob = []</code>
    <br>
    And much, much more!
      </p>
    
      </div>
  <div class="col-xs-6">
      <p>
        Steve wants to summon a demon named "bob." (Demon names are lowercase). Type out how to summon bob below and press "run" to attempt to summon him.
      </p>
      <p id="hintArea">
        
      </p>
      <textarea id="codeInput" rows="20" cols="50" placeholder="Enter text to summon a demon here."></textarea>
      <br>
      <button type="button" class="btn btn-info"> Previous </button>
      <button onclick="hintFunction()" type="button" class="btn btn-primary"> Hint</button>

      <button id="runBtn" onclick="runHandle()" type="button" class="btn btn-success"> Run</buttcon>
      <button id="nextBtn" type="button" class="btn btn-warning" style="display: none;"> Next</button>
      <button id="solutionBtn" onclick="solutionHandle()" type="button" class="btn btn-default" style="display: none;"> Solution</button>
      <h4 id="correctAlert" style="display: none;">Good Job! You are ready to explore the next chapter.</h4>
      <h4 id="incorrectAlert" style="display: none;">Incorrect answer. Don't give up. Try again!</h4>
      
      
 </div>
  
    
    
    </div>
    </div>

<script>
function runHandle(){
  var textElement = document.getElementById("codeInput");
  var input = textElement.value;
  var answer = "sample answer";
  if(input == answer){
      document.getElementById("nextBtn").style.display = "inline";
      document.getElementById("correctAlert").style.display = "block";
      document.getElementById("incorrectAlert").style.display = "none";
  }
  else{
    document.getElementById("solutionBtn").style.display = "inline";
    document.getElementById("correctAlert").style.display = "none";
    document.getElementById("incorrectAlert").style.display = "block";

  }
}

function solutionHandle(){
  return ;
}
  
</script>
	</body>
	
</html>