<!DOCTYPE html>

<html>
	<head>
		<title>PyAccountant</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<style>
  body {
    background-color: #EBF8FF;
    color: #2f4858; 
  }
  p {
    font-size: 1.2em;
}
  textarea {
    background-color: #C3EAFF;
    color: #2f4858;
}
 .navbar-default {
    background-color: #9EE493;
    border-color: #2f4858;
}
.navbar-nav {
  background-color: #212121;
}
nav-link {
 background-color: #212121;
}
</style>
</head>
	<body>
		<!-- Your layout here -->
 
    <style type="text/css">
.col-xs-6 {
   border-radius:10px;
   padding: 20px;
}
</style>
<div class="container">
 <nav class="navbar navbar-default navbar-expand navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="nav navbar-nav pull-left">
          <li class="nav-item active">
            <a class="nav-link"  style="background-color: #9EE493;" href="index">Back to Index <span class="sr-only">(current)</span></a>
          </li>
          
        </ul>
      
      
       <a style="margin: 0; float: none; text-align:center; position:absolute; left:50%; margin-left: -50px; display:block;" class="navbar-brand navbar-middle">Chapter 1 (1 min)</a>
          
        </ul>
        
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item active">
            <a class="nav-link" href="chapterTwo" style="background-color: #9EE493;">Next Chapter <span class="sr-only">(current)</span></a>
          </li>
          
        </ul>
       
      </div>
    </nav>


    
    
    <div class="row">
  <div class="col-xs-6" style="padding-right:20px; border-right: 1px solid #ccc; border-left: 1px solid #ccc;">
      <p>
Summoning a demon (lists)
        
        <br>
        <div style="display: flex; justify-content: center;">
        <img align="middle" class="img-responsive img-rounded" src="https://image.ibb.co/f7771K/chapter1_1.jpg">
        </div>
        <br>
        <p>
        Steve starts off by summoning a demon. Since he dislikes his boss so much, he decides to give the demon the same name as his boss: Bob.  He reads in the Demonomicon the method for summoning a demon, using the ancient and twisted language of Python: </p>

          <br>
    <code> NAME = []</code>
    <br>
    
<p>
Doing this will summon a lost soul. Unfortunately, these demons are only capable of simple tasks, and are fairly slow. Summoning faster and more efficient demons would require Steve to understand such arcane prose from such profane text such as those located in the Great Numpy Library. For now, Steve only wanted to understand how to communicate with demons before working on more difficult demons.
      </p>
    
      </div>
  <div class="col-xs-6">
      <p>
Question: How would steve summon a lesser demon named “bob”? (demonic names are typically typed out in lowercase).      </p>
      <p id="hintArea">
        
      </p>
      <code>
        <textarea id="codeInput" rows="20" cols="50" placeholder="Enter text to summon a demon here."></textarea>
      </code>
      <br>
      <a href="chapterZero" ><button type="button" class="btn btn-info" > Previous </button></a>
      <button onclick="hintFunction()" type="button" class="btn btn-primary" > Hint</button>

      <button id="runBtn" onclick="runHandle()" type="button" class="btn btn-success">Run</buttcon>
      <button id="nextBtn" onclick="location.href = 'chapterTwo' " type="button" class="btn btn-warning" style="display: none;"> Next</button>
      <button id="solutionBtn" onclick="solutionHandle()" type="button" class="btn btn-default" style="display: none;"> Solution</button>
      <h4 id="correctAlert" style="display: none;">Good Job! You are ready to explore the next chapter.</h4>
      <h4 id="incorrectAlert" style="display: none;">Incorrect answer. Don't give up. Try again!</h4>      
      
 </div>
    </div>
    </div>

<script>
var sampleAnswer = "//Solution\nbob = []";

function runHandle(){
  var textElement = document.getElementById("codeInput");
  var input = textElement.value.replace(/\s/g,'');
  var answer = "bob = []".replace(/\s/g,'');
  if(input == answer || input == sampleAnswer.replace(/\s/g,'')){
      document.getElementById("nextBtn").style.display = "inline";
      document.getElementById("correctAlert").style.display = "block";
      document.getElementById("incorrectAlert").style.display = "none";
  }
  else{
    document.getElementById("solutionBtn").style.display = "inline";
    document.getElementById("correctAlert").style.display = "none";
    document.getElementById("incorrectAlert").style.display = "block";

  }
}

function solutionHandle(){
    document.getElementById("codeInput").value = sampleAnswer;
  // document.getElementById("codeInput").value = "//Soluiton\n\ine One\n\This is line two";
}

  var visibleHint = false;
  var hintArea = document.getElementById("hintArea");
  
  function hintFunction() {
    if (!visibleHint) {
      hintArea.innerHTML = "Hint: It’s in the story example."
      visibleHint = true;
    } else {
      hintArea.innerHTML = ""
      visibleHint = false;
      
    }
  }
  
</script>
	</body>
	
</html>