<!DOCTYPE html>

<html>
	<head>
		<title>PyAccountant</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<body>
		<!-- Your layout here -->
 
    <style type="text/css">
.col-xs-6 {
   border-radius:10px;
   padding: 20px;
}
</style>
<div class="container">
 <nav class="navbar navbar-default navbar-expand navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="nav navbar-nav pull-left">
          <li class="nav-item active">
            <a class="nav-link" href="index">Back to Index <span class="sr-only">(current)</span></a>
          </li>
          
        </ul>
      
      
       <a style="margin: 0; float: none; text-align:center; position:absolute; left:50%; margin-left: -50px; display:block;" class="navbar-brand navbar-middle">Chapter 0</a>
          
        </ul>
        
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item active">
            <a class="nav-link" href="chapterOne">Next Chapter <span class="sr-only">(current)</span></a>
          </li>
          
        </ul>
       
      </div>
    </nav>


    
    
    <div class="row">
  <div class="col-xs-12" style="padding-right:20px; border-right: 1px solid #ccc; border-left: 1px solid #ccc;">
      <p>
        Steve is an accountant who spends most of his time performing data entry. One day, his boss forces him to work all night show up to work the next day. 
        
        
        Steve decides that enough is enough. He wants to summon demons to do his accounting work for him. While they work for him, he can work on improving his personal life by attending all of the great accounting conferences and not having to work overtime in order to input all of the data.
        <br>
        <div style="display: flex; justify-content: center;">
        <img align="middle" src="https://image.ibb.co/dStWAe/zero_one.png">
        </div>
        <br>

        
        There's obviously more story after this, including example code. For example,
    <br>
    <code> Bob = []</code>
    <br>
    And much, much more!
      </p>
    
      </div>

    
    </div>
    </div>

<script>
  var visibleHint = false;
  var hintArea = document.getElementById("hintArea");
  
  function hintFunction() {
    if (!visibleHint) {
      hintArea.innerHTML = "Displaying"
      visibleHint = true;
    } else {
      hintArea.innerHTML = "not displaying"
      visibleHint = false;
      
    }
  }
  
</script>
	</body>
	
</html>