<!--
{% load static %}
-->
<!DOCTYPE html>
<html>
<head>
	<title>PyAccountant</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  body {
    background-color: #EBF8FF;
    color: #2f4858; 
  }
  textarea {
    background-color: #C3EAFF;
    color: #2f4858;
}

p {
    font-size: 1.2em;
}
 .navbar-default {
    background-color: #9EE493;
    border-color: #2f4858;
}
.navbar-nav {
  background-color: #212121;
}
nav-link {
 background-color: #212121;
}
</style>
</head>

<body>
    <div class="container">
 <nav class="navbar navbar-default navbar-expand navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExample02">
 
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item active">
            </li>
          
        </ul>
       
      </div>
    </nav>
<h1 style="font-size: 4em;">Yay, you made it!</h1>
<h3>
   Now share your achievement with your friends, and invite them to try this challenge as well.
</h3>
<h3>
    Or go <a href="index">back</a> to review those useful techniques of manipulating your demon to make it work for you.
</h3>


<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_linkedin"></a>
<a class="a2a_button_twitter"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
<div class="col-xs-2"> </div>
<div class="col-xs-10"> 
<img src="https://preview.ibb.co/k7RFqe/index5.png" alt="index5"  width=75%;>
<h4 class="col-xs-9 text-center">
    senior accountant
</h4>
</div>
</body>
</html>